{% extends 'index.html' %}
{% load static %}
	
{% block extracss %}
	<style type="text/css">
		.checked{
			color: orange;	
		}
		.header_content{
			cursor:pointer;
		}
		.box_div{
			display:none; 
			background: #494f56;
		}
		.box_div p{
			font-size: 14px;
			margin-left: 10px;
		}
	</style>
{% endblock %}	

{% block main %}
	<div class="container" style="margin-top: 100px; padding-bottom: 50px; color: white;">
		<div class="row">
			<div class="col-md-8">
				<h2>Course Title (Name)</h2>

					<div class="mt-4">
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
				    	4.6{{ avg_rating }} ({{ rating }} ratings)
				    </div> 

				
				<div class="mt-2">
					<p>With around 70% of India's population using smart phones, Android app development is in constant demand. Take this course to design, create and run a debuggable version of your own Android App.</p>
				</div>

				<a href="#course_payment" class="btn btn-danger">Enroll Now AT 3999</a>
			</div>
			<div class="col-md-4 bg-dark" style="border-radius:8px; box-shadow: 0 9px 21px 0 rgb(53 41 46 / 8%);border: 3px solid rgba(31,40,207,.12);">
				<div class="row mt-4">
					<div class="col-md-4">
						<!-- <img src="{% static 'img/logo.png' %}" width="60" height="60" style="border-radius:50%;"> -->
						<img src="https://www.unschool.in/static/3639a78d4e36b347ec8f5e5eec28240b/6e81a/tushar.jpg" width="60" height="60" style="border-radius:50%;">
					</div>
					<div class="col-md-8">
					<h4>John Carter</h4>
					<p style="font-size:14px;">Artificial Intelligence<br>18 Hours</p>
					</div>
					
				</div>
				<div class="">
					<h3>Chapters</h3>
					<div class="header_content" id="header_content1">Indroction to Course</div>
					<div class="box_div" id="box_div1"><p>This section contains the overview of the sections and various components of AI. This will give you an overview of all the domains that fall under AI. This means that you will understand the applications of various domains and understand various jargons associated with the field.</p></div>
					<hr style="height:2px;border-width:0;color:gray;background-color:gray">

					<div class="header_content" id="header_content2">Basic Overview of Course</div>
					<div class="box_div" id="box_div2"><p>This section contains the overview of the sections and various components of AI. This will give you an overview of all the domains that fall under AI. This means that you will understand the applications of various domains and understand various jargons associated with the field.</p></div>
					<hr style="height:2px;border-width:0;color:gray;background-color:gray">

					<div class="header_content" id="header_content3">other step</div>
					<div class="box_div" id="box_div3"><p>This section contains the overview of the sections and various components of AI. This will give you an overview of all the domains that fall under AI. This means that you will understand the applications of various domains and understand various jargons associated with the field.</p></div>
					<hr style="height:2px;border-width:0;color:gray;background-color:gray">

					<div class="header_content" id="header_content4">other step</div>
					<div class="box_div" id="box_div4"><p>This section contains the overview of the sections and various components of AI. This will give you an overview of all the domains that fall under AI. This means that you will understand the applications of various domains and understand various jargons associated with the field.</p></div>
					<hr style="height:2px;border-width:0;color:gray;background-color:gray">

				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid bg-light" id="course_payment">
		<div class="row">
			<div class="col-md-8 mt-5">
				<div class="text-dark">
					<ul style="list-style: none;">
						<li>Overview</li>
						<li>How it works</li>
						<li>Instructor</li>
						<li>Reviews</li>
						<li>FAQ's</li>
					</ul>

					<div class="mb-5" style="border-radius: 8px;box-shadow: 0 9px 21px 0 rgb(53 41 46 / 8%);border: 3px solid rgba(31,40,207,.12);background-color: #fff;">
						<h3 class="ml-5 mt-2">Course Overview</h3>
						<div class="">
							<p class="ml-5" style="color:blue; font-weight: bolder;">This Course Will Enable You To</p>
							<ul class="ml-5" style="list-style: none; font-weight: bold;">
								<li>Design, Build & Publish An Android Application On Playstore</li>
								<li>Design, Build & Publish An Android Application On Playstore</li>
								<li>Design, Build & Publish An Android Application On Playstore</li>
								<li>Design, Build & Publish An Android Application On Playstore</li>
								<li>Design, Build & Publish An Android Application On Playstore</li>
								<li>Design, Build & Publish An Android Application On Playstore</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4 mt-5 bg-dark mb-5" style="border-radius:8px; box-shadow: 0 9px 21px 0 rgb(53 41 46 / 8%);border: 3px solid rgba(31,40,207,.12);">
				<div class="text-light">
					<span class="fa fa-phone">...<p>Step1</p></span>
					
					<span class="fa fa-phone">...<p>Step2</p></span>
					
					<span class="fa fa-phone">...<p>Step3</p></span>

				<p>Register now to</p>
				<p>Master Android App Development</p>
				<input type="radio" name="course_select">Single
				<input type="radio" name="course_select">Series	

				<p>Purchase 3 courses and save ₹5000. Explore series!</p>

				<form method="post">
					{% csrf_token %}
					<div class="form-group">
						<input type="text" class="form-control" name="name" placeholder="Name">
					</div>
					<div class="form-group">
						<input type="email" class="form-control" name="email" placeholder="Email">
					</div>
					<div class="form-group">
						<input type="number" class="form-control" name="mobile" placeholder="Phone Number">
					</div>
					<div class="form-group">
						<a href="/dashboard/checkout/" class="btn btn-warning">Continue to Pay</a>
					</div>
					<div class="form-group">
						<input type="text" name="" class="form-control  col-sm-6" placeholder="Coupon Code">
						<a href="#" class="btn btn-primary btn-sm mt-2">Apply</a>
					</div>
				</form>

				</div>
			</div>
		</div>
	</div>

	{% block extrajs %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script>
			$('#header_content1').on('click', function(e){
			    $("#box_div1").toggle();
			    $(this).toggleClass('class1')
			});
			$('#header_content2').on('click', function(e){
			    $("#box_div2").toggle();
			    $(this).toggleClass('class1')
			});
			$('#header_content3').on('click', function(e){
			    $("#box_div3").toggle();
			    $(this).toggleClass('class1')
			});
			$('#header_content4').on('click', function(e){
			    $("#box_div4").toggle();
			    $(this).toggleClass('class1')
			});
			</script>
	{% endblock %}

{% endblock %}