{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% block main %}


<div class="container-fluid">
 	<div class="row">
 		<div class="col-md-6">
 			<img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201907/education_apps.jpeg?wRPOW6.Bi1UOcVbogtIZsdRh98i2o0EI&size=770:433" class="img-fluid">
 		</div>
 		<div class="col-md-6" style="border:1px solid orange; border-radius: 4px;">
 			<h2 class="text-center mt-4" style="background:linear-gradient(to bottom right,orange,red); border-radius: 4px;">Listed Course</h2>
		    {% for obj in objects %}
		        <h4 style=" width:20rem; padding:5px 5px 5px 5px; background:linear-gradient(to top right,orange,red); border-radius: 4px;">
		            {{ forloop.counter }} . ]<a href="{{ obj.get_course_absolute_url }}" style="text-decoration: none; color:#ffffff;"> {{ obj.name }}</a>
		        </h4>
		    {% endfor %}
 		</div>
 	</div>

</div>

{% endblock %}