{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% block body %}

<div class="container">
    <h2> Course Detail</h2>
    <h4>{{ object.name }}</h4>
    <h4>{{ object.slug }}</h4>
    <div class="row-cols-lg-4">
        <div>
            <h3>List Of Videos</h3>
            {% for video in videos %}
                <h5>{{ forloop.counter }} ] {{ video.name }}</h5>
            {% endfor %}
        </div>
        <div>
            <h3>List Of Notes</h3>
            {% for doc in notes %}
                <h5>{{ forloop.counter }} ] {{ doc.name }}</h5>
            {% endfor %}
        </div>
    </div>
    <div>
            <h3>CourseOverView</h3>
            {% for obj in course_overviews %}
                <h5>{{ forloop.counter }} ] {{ obj.title }}</h5>
                <h6>{{ obj.text }}</h6>
            {% endfor %}
        </div>


    <div class="row-cols-1">
        <a class="btn btn-outline-info" href="{% url 'add_videos_to_course' object.slug %}">Add Video</a>
        <a class="btn btn-outline-info" href="{% url 'add_notes_to_course' object.slug %}">Add Notes</a>
        <a class="btn btn-outline-info" href="{% url 'add_course_overview_to_course' object.slug %}">Add CourseOverView</a>
    </div>
</div>

{% endblock %}