{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% load embed_video_tags %}
{% block body %}

    <div class="container" style="margin-top: 20px">
    {% for obj in videos %}


{#        {% video obj.video as my_video %}#}
{#              URL: {{ my_video.url }}#}
{#              Thumbnail: {{ my_video.thumbnail }}#}
{#              Backend: {{ my_video.backend }}#}
{#              {% video my_video "large" %}#}
{#        {% endvideo %}#}
        <div>
        <br>
            <h2>Embed Video {{ obj.name }}</h2>
            {% video obj.url '426x240' %}
        </div>
    {% endfor %}
    </div>

{% endblock %}