{% extends 'admin_base.html' %}
{% load static %}
    {% block main %}

    <div class="container">
        <form method="post">
        {% csrf_token %}
        <input type="text" name="item_json">
        <input type="text" name="amount">
        <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Name">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="text" name="city" class="form-control" placeholder="City">
        </div>
        <div class="form-group">
            <input type="text" name="state" class="form-control" placeholder="State">
        </div>
        <div class="form-group">
            <input type="text" name="address" class="form-control" placeholder="Address">
        </div>
        <div class="form-group">
            <input type="text" name="zip_code" class="form-control" placeholder="ZipCode">
        </div>
        <div class="form-group">
            <input type="number" class="form-control" name="mobile" placeholder="Phone Number">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>


{% endblock %}