{% extends 'admin_base.html' %}
{% load static %}
    {% block main %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form method="post">
                    {% csrf_token %}
                    <input type="text" name="course" placeholder="course name">
                    <input type="text" name="amount" placeholder="amount">
                    <input type="text" name="name" placeholder="Name">
                    <input type="email" name="email" placeholder="Email">
                    
                    <div class="form-group">
                        <input type="number" class="form-control" name="mobile" placeholder="Phone Number">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>        
            </div>
        </div>
        
    </div>


{% endblock %}