{% extends 'admin_base.html' %}
{% load static %}


{% block extracss %}
	<style>
		.account_content{
			text-transform: uppercase; 
			text-decoration: none; 
			color:grey; font-size:14px;
		}
		.content_row p{
			text-transform: uppercase; 
			font-size:12px;
		}
		.content_row h5{
			font-size:14px;
			font-weight: bold;
		}
	</style>
{% endblock %}

{% block main %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<h2>Account</h2>
		</div>
	</div>
</div>

<div class="container mt-4">
	<div class="row">
		<div class="col-md-1">
			<img src="{% static 'img/logo.png' %}" alt="logo" width="42" height="42">
		</div>
		<div class="col-md-2 text-left">	
			<h5>Hello, <strong>{{ user.username }}</strong></h5>
		</div>
		<div class="col-md-9 text-right">	
			<a href="{% url 'logout' %}" class="btn btn-primary">SIGN OUT</a>
		</div>
	</div>
</div>


<div class="container mt-4 mb-4" style="border:0.3px solid grey;">
	<div class="row">
		<div class="col-md-12 pt-2" style="letter-spacing:1px;">
			<a href="#" class="account_content">General</a> |
			<a href="#" class="account_content">Preferences</a> |
			<a href="#" class="account_content">Invoices</a> |
			<a href="#" class="account_content">My Address</a>
		</div>

		<div class="col-md-12">
		<div class="row mt-5">
			<div class="col-md-4 content_row">
				<p>Account Name</p>
				<h5>{{ user.username }}</h5>
			</div>

			<div class="col-md-8 text-right">
				<a href="#" style="text-decoration: none; color:grey; font-size: 14px;"><i class="fa fa-pencil"></i> Edit</a>
			</div>	
		</div>
		<hr>
		</div>

		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4 content_row">
					<p>Email</p>
					<h5>{{ user.email }}</h5>
				</div>

				<div class="col-md-8 text-right">
					<p style="color:green; font-size: 14px;"> verified</p>
				</div>	
			</div>
			<hr>
		</div>

		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4 content_row">
					<p>Contact Number</p>
					<h5>{{ user.phone_number }}</h5>
				</div>

				<div class="col-md-8 text-right">
					<a href="#" style="text-decoration: none; color:grey; font-size: 14px;"><i class="fa fa-pencil"></i> Edit</a>
				</div>	
			</div>
			<hr>
		</div>
		
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4 content_row">
					<p>Profile Fields</p>
					<h5>View/ Edit your profile data.</h5>
				</div>

				<div class="col-md-8 text-right">
					<a href="#" style="text-decoration: none; color:grey; font-size: 14px;"><i class="fa fa-arrow-right"></i></a>
				</div>	
			</div>
		</div>

	
		
		<!-- preference -->
		<!-- <div class="">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4 content_row">
					<p>Reset Password</p>
					<h5>Change password for your account here.</h5>
				</div>
				<div class="col-md-8 text-right">
					<a href="#" style="text-decoration: none; color:grey; font-size: 14px;"><i class="fa fa-arrow-right"></i></a>
				</div>	
			</div>
			<hr>
		</div>
		
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4 content_row">
					<p>Marketing Email Notification</p>
					<h5>Control receiving marketing email from here.</h5>
				</div>
				<div class="col-md-8 text-right">
					<input type="checkbox" style="text-decoration: none; color:grey; font-size: 14px;">
				</div>	
			</div>
			<hr>
		</div>

		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4 content_row">
					<p>Support</p>
					<h5>Raise tickets regarding any issue with this app here.</h5>
				</div>
				<div class="col-md-8 text-right">
					<a href="#" style="text-decoration: none; color:grey; font-size: 14px;"><i class="fa fa-arrow-right"></i></a>
				</div>	
			</div>
		</div>
		</div> -->
		<!-- end preference -->

		<!-- Invoice -->
		<!-- <div class="" >
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-4">
						<img src="#" alt="invoice_logo">
						<h5>No invoices available</h5>
					</div>
						
				</div>
				<hr>
			</div>	
		</div> -->
		<!-- end invoice -->

		<!-- my address -->
		<!-- <div class="" style="">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-4 content_row">
					<p>Support</p>
					<h5>Raise tickets regarding any issue with this app here.</h5>
				</div>
				<div class="col-md-8 text-right">
					<a href="#" style="text-decoration: none; color:grey; font-size: 14px;"><i class="fa fa-arrow-right"></i></a>
				</div>	
						
				</div>
				<hr>
			</div>	
		</div> -->
		<!-- end myaddress -->

	</div>
</div>

{% block extrajs %}
	<script>
		function showonlyone(thechosenone) {
     		$('.newboxes').each(function(index) {
          	if ($(this).attr("id") == thechosenone) {
               $(this).show(200);
          	}else {
               $(this).hide(600);
          	}
     		});
		}
	</script>
{% endblock %}

{% endblock %}